.accordion {
  padding: 10px 0 0;

  >div {

    .accordion__title {
      position: relative;
      margin: 0;
      padding: 0 0 19px 37px;
      @include main-font1();
      font-size: 22px;
      line-height: 24px;
      color: #0094C1;
      cursor: pointer;

      &.opened {

        &:after {
          opacity: 0;
          visibility: hidden;
        }

      }

      &:after {
        position: absolute;
        top: 5px;
        left: 10px;
        width: 2px;
        height: 12px;
        background: #fff;
        content: '';
        -webkit-transition: opacity 0.3s, visibility 0.3s;
        transition: opacity 0.3s, visibility 0.3s;
      }
      &:before {
        position: absolute;
        top: 10px;
        z-index: 1;
        left: 5px;
        width: 12px;
        height: 2px;
        background: #fff;
        content: '';
      }

      span {
        display: block;

        &:after {
          position: absolute;
          top: 0;
          left: 0;
          width: 22px;
          height: 22px;
          border-radius: 100%;
          background: #0094C1;
          content: '';
        }

      }

    }
    .accordion__content {
      overflow: hidden;
      height: 0;
      min-height: 0;
      margin: 0;
      -webkit-transition: height 0.3s, min-height 0.3s;
      transition: height 0.3s, min-height 0.3s;

      >div {
        margin: -4px 0 40px;
        padding: 0 0 0 40px;
      }
    }

  }

}

