.breadcrumbs {
  display: none;
  position: relative;
  z-index: 1;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 9px 20px;

  span,
  a {
    position: relative;
    display: inline-block;
    vertical-align: top;
    @include main-font4();
    font-size: 16px;
    color: #4E4E4E;
    line-height: 33px;
  }
  a {
    padding-right: 15px;
    margin-right: 6px;

    &:after {
      position: absolute;
      top: 0;
      right: 0;
      content: '/';
    }

  }

}


@media (min-width: $desktop) {

  .breadcrumbs {
    display: block;
  }

}

