.btn {
  @include inline-flex();
  @include justify-content(center);
  @include align-items(center);
  @include flex-direction();
  background: #0094C1;
  border-radius: 39px;
  padding: 0 10px;
  height: 45px;
  @include main-font1();
  font-size: 18px;
  line-height: 18px;
  color: #FFFFFF;
  letter-spacing: 0;
  border: none;
  -webkit-transition: background 0.3s, color 0.3s;
  transition: background 0.3s, color 0.3s;
  text-align: center;
  text-transform: uppercase;

  span {
    width: 100%;
    text-align: center;
  }
  &:hover {
    background: #00bcef;
  }
  &:active {
    background: #00c4ff;
  }

  &_img-right {

    svg,
    img {
      display: inline-block;
      vertical-align: middle;
      margin-left: 10px;
    }

  }
  &_img-left {

    svg,
    img {
      display: inline-block;
      vertical-align: middle;
      margin-right: 16px;
      margin-left: -35px;
      margin-top: -6px;
    }

  }

  &_2 {
    height: 40px;
    background: #0094C1;
    border-radius: 4px;
    @include main-font10();
    font-size: 16px;
    line-height: 16px;
  }
  &_3 {
    height: 40px;
    background: #F47920;
    border-radius: 4px;
    @include main-font10();
    font-size: 16px;
    line-height: 16px;

    &:hover {
      background: #ea5438;
    }

    &:active {
      background: #ea5438;
    }

  }
  &_4 {
    height: 40px;
    background: #fff;
    border-radius: 4px;
    @include main-font10();
    font-size: 16px;
    line-height: 16px;
    color: #0094C1;

    &:hover {
      background: #0094C1;
      color: #fff;
    }

    &:active {
      background: #00c1f0;
    }

  }
  &_5 {
    height: 70px;
    background: #F47920;
    border-radius: 4px;
    @include main-font10();
    font-size: 26px;
    line-height: 26px;

    &:hover {
      background: #ea5438;
    }
    &:active {
      background: #ea5438;
    }

  }
  &_6 {
    height: 26px;
    border-radius: 2px;
    font-size: 14px;
    line-height: 14px;

  }
  &_7 {
    height: 40px;
    border-radius: 4px;
    font-size: 20px;
    line-height: 20px;
    background: #373737;
    color: #FFFFFF;
  }
  &_8 {
    height: 48px;
    font-size: 16px;
    line-height: 16px;
    border-radius: 4px;
    background: #F47920;

    &:hover {
      background: #ea5438;
    }

    &:active {
      background: #ea5438;
    }

  }
  &_9 {
    height: 31px;
    padding: 0 22px;
    border-radius: 2px;
    font-size: 14px;
    line-height: 14px;
    background: #F47920;

    &:hover {
      background: #ea5438;
    }

    &:active {
      background: #ea5438;
    }
  }
  &_10 {
    height: 48px;
    border-radius: 4px;
    background: #F47920;
    font-size: 16px;
    line-height: 16px;

    &:hover {
      background: #ea5438;
    }

    &:active {
      background: #ea5438;
    }

  }
  &_11 {
    height: 40px;
    min-width: 122px;
    background: #0094C1;
    border-radius: 4px;
    @include main-font10();
    font-size: 16px;
    line-height: 16px;
  }
  &_12 {
    height: 70px;
    border-radius: 0;
    font-size: 26px;
    line-height: 26px;
    box-shadow: -4px -4px 4px 0 rgba(0,0,0,0.50);
    background: #F47920;

    &:hover {
      background: #ea5438;
    }

    &:active {
      background: #ea5438;
    }
  }
  &_13 {
    min-width: 108px;
    height: 48px;
    background: #0094C1;
    border-radius: 4px;
    @include main-font10();
    font-size: 16px;
    line-height: 16px;
  }
  &_14 {
    height: 59px;
    min-width: 264px;
    background: #F47920;
    font-size: 24px;
    line-height: 24px;

    &:hover {
      background: #ea5438;
    }

    &:active {
      background: #ea5438;
    }
  }

}

@media (min-width: $desktop) {

  .btn {

    &_2 {
      height: 48px;
    }
    &_3 {
      height: 48px;
    }
    &_4 {
      height: 48px;
    }
    &_5 {
      height: 48px;
    }
    &_6 {
      height: 40px;
      border-radius: 4px;
      font-size: 16px;
      line-height: 16px;
    }
    &_8 {
      height: 48px;
      border-radius: 4px;
      font-size: 16px;
      line-height: 16px;
    }
    &_10 {
      height: 60px;
      border-radius: 4px;
      font-size: 20px;
      line-height: 20px;
    }
    &_11 {
      height: 40px;
    }
    &_12 {
      height: 70px;
      font-size: 26px;
      line-height: 26px;
    }
    &_13 {
      height: 40px;
      min-width: 122px;
      @include main-font1();
    }

  }

}