.cart {
  position: absolute;
  top: 24px;
  right: 30px;
  @include main-font1();
  font-size: 16px;
  color: rgba(255, 255, 255, 0.71);
  letter-spacing: 0;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;

  img {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 14px;
    margin: 0 6px 0 0;
  }

  &:hover {
    color: rgba(255, 255, 255, 1);
  }

}
.cart__price {
  margin: 0 -25px 0 0 ;
}
@media (min-width: $desktop) {

  .cart {
    top: 46px;
    right: 133px;
  }
  .cart__price {
    margin: 0 0 0 0 ;
  }

}

