.featured-products {
  position: relative;
  padding: 37px 12px 15px;

  .featured-product {
    position: relative;
    @include flexbox();
    @include justify-content(space-between);
    @include align-items();
    @include flex-direction(column);
    @include flex-wrap(wrap);
    width: 136px;
    min-height: 100%;
    margin: 0 auto;
    padding: 22px 14px 77px;
    background: #FFFFFF;
    border: 2px solid #DDDDDD;
    box-shadow: 3px 3px 4px 0 rgba(0,0,0,0.10);
    border-radius: 4px;
    -webkit-transition: box-shadow 0.3s linear;
    transition: box-shadow 0.3s linear;

    &:hover {
      box-shadow: 0 0 8px 0 rgba(0,0,0,0.3);
    }

  }
  .featured-product__title {
    width: auto;
    min-height: 1px;
    margin: 0 0 0 -2px;
    font-size: 14px;
  }
  .featured-product__pic {
    overflow: hidden;
    height: 124px;
    border-bottom: 1px solid #ddd;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    img {
      width: 72%;
    }

  }
  .featured-product__price {
    @include flexbox();
    @include justify-content(space-between);
    @include align-items();
    @include flex-direction();
    @include flex-wrap(wrap);
    margin: 0;
    font-size: 10px;

    del {
      margin: 2px 0 0 0;
      font-size: 10px;
      line-height: 12px;
    }

  }
  .featured-product__footer {
    position: absolute;
    left: 13px;
    right: 13px;
    bottom: 9px;
    padding-top: 11px;
  }

  .btn {
    margin: 8px 0 0;
    width: 100%;
    height: 33px;
    font-size: 12px;
  }

}
.featured-products__inner {
  @include flexbox();
  @include justify-content();
  @include align-items();
  @include flex-direction();
  @include flex-wrap(wrap);
  padding-top: 8px;

  >div {
    width: 50%;
    //margin: 0 7px 13px;
    text-align: center;
    margin-bottom: 13px;

  }
}
.featured-product__footer {
  padding-top: 11px;
}
.featured-products_2 {
  padding: 0;
  margin: 0 -10px 17px;

  .featured-products__wrapper {
    @include flexbox();
    @include justify-content();
    @include align-items();
    @include flex-direction();
    @include flex-wrap(wrap);

    >div {
      width: 50%;
      margin: 0 0 13px;
      padding: 0 7px;
      text-align: center;
    }
    .featured-products__slide {
      height: auto;
    }
    .slick-track {
      @include flexbox();
      @include justify-content();
      @include align-items();
      @include flex-direction();
      @include flex-wrap(wrap);
    }

  }
  .featured-products__inner {
    padding: 0;
  }
  .featured-products__controls {
    display: none;
  }

}
.featured-products_4 {
  padding: 0;
  margin: 0 -10px 23px;

  .featured-products__wrapper {
    @include flexbox();
    @include justify-content();
    @include align-items();
    @include flex-direction();
    @include flex-wrap(wrap);

    >div {
      width: 100%;
      margin: 0 0 13px;
      padding: 0 7px;
      text-align: center;
    }
    .slick-track {
      @include flexbox();
      @include justify-content();
      @include align-items();
      @include flex-direction();
      @include flex-wrap(wrap);
    }

  }
  .featured-products__inner {
    padding: 0;
  }
  .featured-products__controls {
    display: none;
  }

}

@media (min-width: $phone-mini) {

  .featured-products {

    .featured-product {
      width: 183px;
    }
    .featured-product__title {
      width: auto;
      min-height: 1px;
      margin: 0 0 -1px -2px;
      font-size: 18px;
    }
    .featured-product__price {
      font-size: 14px;

      del {
        font-size: 12px;
        line-height: 14px;
      }

    }

    .btn {

      font-size: 16px;
    }

  }

  .featured-products__inner {

    >div {
      width: 50%;
    }
  }
  .featured-products_2 {

    .featured-products__wrapper {

      >div {
        width: 50%;
      }

    }

  }

}
@media (min-width: $tablet-portrait) {
  .featured-products__inner {

    >div {
      width: 33.333%;
      padding: 0 18px;
    }

  }
  .featured-products_2 {

    & .swiper-container {
      padding-bottom: 44px;
    }
    
    .featured-products__wrapper {
      padding-bottom: 62px;

      >div {
        width: 100%;
        margin: 0;
        padding: 0;
      }

    }
    .featured-products__slide {
      text-align: center;
      padding: 0 5px;
      height: 100%;
    }
    .featured-products__controls {
      display: block;
      position: absolute;
      left: 50%;
      bottom: 0;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);

      .swiper-button-prev,
      .swiper-button-next {
        display: inline-block;
        vertical-align: middle;
        opacity: 1;
        position: relative;
        left: auto;
        top: auto;
        right: auto;
        margin: 0;
        width: 27px;
        height: 44px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 19px;
        background-image: url("../img/arrow-right-gray.png");
      }
      .swiper-button-prev {
        -webkit-transform: scale(-1,1);
        transform: scale(-1,1);
      }
      .swiper-pagination {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        left: auto;
        top: auto;
        right: auto;
        width: auto;
        margin: 0 9px;

        li,
        .swiper-pagination-bullet {
          display: inline-block;
          vertical-align: middle;
          opacity: 1;
          margin: 0 8px;
          width: 12px;
          height: 12px;
          border-radius: 100%;
          background: #A2A2A2;
          -webkit-transition: background 0.3s, color 0.3s;
          transition: background 0.3s, color 0.3s;

          &:hover {
            background: rgba(244, 121, 32, 0.76);
          }
          button {
            display: none;
          }

        }
        .slick-active,
        .swiper-pagination-bullet-active {
          background: #F47920;
        }

      }

    }

  }

}
@media (min-width: $desktop) {

  .featured-products {
    margin: 0 0 28px;
    padding: 31px 27px 13px 27px;

    .featured-product {
      padding: 28px 16px 80px;
      width: 210px;
    }

  }
  .featured-products__inner {
    padding-top: 0;

    >div {
      //margin: 0 7px 30px;
      margin: 0 0px 30px;
    }

  }
  .featured-products_2 {
    margin: 0 0 32px;
    padding: 10px 0 0;
    background: transparent;
    border-radius: 0;
    & .swiper-container {
      padding-bottom: 44px;
    }
  }
  .featured-products_4 {
    padding: 0;
    margin: 0 -8px 30px;
    max-width: 785px;
    background: transparent;
    border-radius: 0;

    .featured-products__inner {

      >div {
        text-align: left;
      }

    }

  }
}
@media (min-width: $desktop-hd) {

  .featured-products {
    margin: 0 0 28px;
    padding: 31px 27px 13px 27px;

    .btn {
      height: 40px;
      margin: 12px 0 0;
    }
    .site__title {
      margin: 0 0 23px;
    }

    .featured-product {
      padding: 20px 16px 94px;
      width: 100%;
    }
    .featured-product__title {
      width: auto;
      margin: 0 0 0 2px;
    }
    .featured-product__pic {
      height: 214px;
      border-bottom: 2px solid #ddd;

      img {
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        width: 80%;
      }

    }
    .featured-product__price {
      margin: 0 4px;
      font-size: 18px;

      del {
        font-size: 14px;
      }
      .woocommerce-Price-amount {
        //font-size: 16px;
      }

    }
    .featured-product__footer {
      left: 16px;
      right: 16px;
      bottom: 13px;
      padding-top: 7px;
    }

  }
  .featured-products__inner {

    >div {
      /*padding: 0 18px;*/
      width: 25%;
      margin: 0 0 30px;
    }

  }

  .featured-products_2 {
    padding: 11px 3px 0px 3px;

    & .swiper-container {
      padding-bottom: 44px;
    }

    .featured-product {
      //padding: 20px 14px 100px;
      width: 236px;
    }
    .featured-products__inner {
      padding-top: 11px;

      >div {
        width: 20%;
        //padding: 0 7px;
      }
    }

  }
  .featured-products_4 {
    padding: 0;
    margin: 0 -8px 30px;

    .featured-product {
      width: 236px;
    }
    .featured-products__inner {
      padding-top: 0;

      >div {
        width: 33.33%;
        //padding: 0 7px;
        margin: 0 0 24px;
      }
    }

  }

}

