.featured-product {
  position: relative;
  padding: 25px 36px 0;
  text-align: center;

  .btn {
    width: 100%;
  }

}
.featured-product__title {
  width: 70%;
  min-height: 40px;
  margin: 0 0 21px 5px;
  @include main-font1();
  font-size: 18px;
  color: #4E4E4E;
  line-height: 20px;
  text-align: left;
}
.featured-product__pic {
  position: relative;
  height: 207px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  img {
    width: 84%;
    height: auto;
  }

}
.featured-product__remark {
  position: absolute;
  top: -8px;
  left: 7px;
  z-index: 2;
  @include flexbox();
  @include justify-content(center);
  @include align-items(center);
  @include flex-direction();
  width: 84px;
  height: 84px;
  border-radius: 100%;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.17);
  -webkit-transition: opacity 0.150s, visibility 0.150s;
  transition: opacity 0.150s, visibility 0.150s;

  span {
    @include flexbox();
    @include justify-content(center);
    @include align-items(center);
    @include flex-direction();
    padding: 0 5px;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    box-shadow: 0 0 0 5px rgba(244,121,32,0.5), 0 0 0 9px rgba(244,121,32,0.5), 0 0 0 12px rgba(255,255,255,0.9);
    background: #F47920;
    @include main-font7();
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
  }

}
.featured-product__price {
  display: block;
  margin: 0 0 17px;
  @include main-font1();
  font-size: 20px;
  color: #4E4E4E;

  div, del {
    display: inline-block;
    margin: 0 10px 0 -3px;
    @include main-font1();
    font-size: 14px;
    color: #F47920;

    &.hidden {
      display: none;
    }

  }

}
.featured-product__loading {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  -webkit-transition: opacity 0.150s, visibility 0.150s;
  transition: opacity 0.150s, visibility 0.150s;

  &.visible {
    opacity: 1;
    visibility: visible;
  }

  &:after {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    width: 50px;
    height: 50px;
    border-radius: 80px;
    border-top: 2px solid transparent;
    border-bottom: 2px solid rgba(244, 121, 32, 0.51);
    border-left: 2px solid rgba(244, 121, 32, 0.51);
    border-right: 2px solid transparent;
    border-top: 2px solid rgba(244, 121, 32, 0.51);
    border-bottom: 2px solid rgba(244, 121, 32, 0.51);
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    background: none;
    -webkit-animation: cwSpin 1s linear .2s infinite;
    animation: cwSpin .666s linear .2s infinite;
    content: '';
  }

}

@-webkit-keyframes cwSpin {
  0%{
    -webkit-transform:rotate(0deg);
  }
  100%{
    -webkit-transform:rotate(360deg);
  }
}
@keyframes cwSpin {
  0%{
    transform:rotate(0deg);
  }
  100%{
    transform:rotate(360deg);
  }
}

