.loading {
  opacity: 1;
  visibility: visible;
  position: fixed;
  z-index: 20;
  top: 0;
  left: -30px;
  right: -30px;
  height: 100%;
  background: #fff;
  -webkit-transition: opacity 0.300s, visibility 0.300s;
  transition: opacity 0.300s, visibility 0.300s;

  &.hidden {
    opacity: 0;
    visibility: hidden;
  }

  &:after {
    position: absolute;
    top: 150px;
    left: 50%;
    margin: 0 0 0 -25px;
    width: 50px;
    height: 50px;
    border-radius: 80px;
    border-top: 2px solid transparent;
    border-bottom: 2px solid rgba(244, 121, 32, 0.51);
    border-left: 2px solid rgba(244, 121, 32, 0.51);
    border-right: 2px solid transparent;
    border-top: 2px solid rgba(244, 121, 32, 0.51);
    border-bottom: 2px solid rgba(244, 121, 32, 0.51);
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    background: none;
    -webkit-animation: cwSpin 1s linear .2s infinite;
    animation: cwSpin .666s linear .2s infinite;
    content: '';
  }

}

@-webkit-keyframes cwSpin {
  0%{
    -webkit-transform:rotate(0deg);
  }
  100%{
    -webkit-transform:rotate(360deg);
  }
}
@keyframes cwSpin {
  0%{
    transform:rotate(0deg);
  }
  100%{
    transform:rotate(360deg);
  }
}

@media (min-width: $desktop) {

  .loading {
    position: absolute;
  }

}

