.locations {
  position: relative;
  padding: 0 11px;
  @include main-font5();
  font-size: 16px;
  color: rgba(78, 78, 78, 0.81);
  line-height: 22px;



  p {
    margin: 0 0 28px;
  }
  .site__title {
    display: none;
  }
  .product-categories {
    display: none;
  }

}

.wpsl-info-window-label {
  font-weight: bold !important;
}

.locations__items {
  position: relative;
  margin: 0 0 25px;
  padding: 0 0 79px;

  >div {
    margin: 0 -29px;

    &:first-child {
      margin: 0 0 32px;
    }

  }
  .btn {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    min-width: 274px;
  }

}
.locations__map {
  height: 397px;
}
.locations__info {
  padding: 20px 0 0;
  margin-bottom: -9px;

  li {
    position: relative;
    padding-left: 36px;
    margin: 0 0 21px;

    svg {
      position: absolute;
      top: 0;
      left: 4px;
      width: 24px;
    }

  }

}
.locations__address {

  span {
    display: block;
  }

}
.locations__repair {
  display: block;
  margin-top: 4px;
  font-size: 16px;
  color: rgba(78, 78, 78, 0.8);
  line-height: 22px;
  @include main-font5();
}
.locations__stores {
  margin: 0 -31px;
  padding-top: 22px;

  #wpsl-wrap {
    padding-bottom: 583px;
    margin-bottom: 6px;

    .wpsl-search {
      margin-bottom: 15px;
    }
    #wpsl-result-list {
      margin-bottom: 0;
    }

    #wpsl-gmap {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 527px !important;
      width: 100%;

      .gm-style-iw {
        width: 300px !important;
        @include main-font4();
        font-size: 16px;
        line-height: 22px;
        color: #4E4E4E;
      }
      .wpsl-info-window {

        p {
          margin: 0;

          strong {
            display: block;
            margin-bottom: 6px;
            @include main-font1();
            font-size: 22px;
            line-height: 26px;
            color: #F47920;

            a {
              color: #F47920;
            }

          }
        }
        .wpsl-info-actions {
          display: inline-block;
          vertical-align: top;
          margin: 20px 0!important;
          overflow: hidden;

          a {
            color: #4E4E4E;
            text-decoration: underline;

            &:hover {
               text-decoration: none;
            }

          }

        }
        .wpsl-info-actions_view_more {
          display: inline-block;
          vertical-align: top;
          margin: 20px 0!important;
          @include main-font4();
          font-size: 16px;
          line-height: 22px;
          color: #4E4E4E;
          text-decoration: underline;

          &:hover {
            text-decoration: none;
          }

        }

      }

    }
    #wpsl-stores {
      position: relative;
      height: auto !important;
      max-height: 627px;
      @include main-font4();
      font-size: 16px;
      line-height: 22px;
      color: #4E4E4E;

      ul {

        li {
          position: relative;
          border-bottom: none;
          padding: 19px 42px 17px 42px;
          -webkit-transition: background 0.3s, color 0.3s;
          transition: background 0.3s, color 0.3s;

          >a {

            &:first-child {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              z-index: 2;
            }

          }
          .wpsl-store-location {

            a {
              color: #4E4E4E;
            }
            >p {
              margin: 0;

              &:nth-child(3) {
                display: none;
              }
            }
            .service_type {
              display: block;
              margin: 0 0 7px;
              font-size: 16px;
              line-height: 16px;
              color: #a0a0a0;
            }

          }
          strong {
            display: inline-block;
            @include main-font1();
            font-size: 16px;

            a {
              display: block;
              margin: 0 0 7px;
              font-size: 22px;
              line-height: 22px;
              color: #F47920 !important;
            }

          }
          .wpsl-direction-wrap {
            display: none;
          }
          .wpsl-more-info-listings {
            display: none;
          }

          &:hover {
            background: #F4F4F4;
          }

        }

      }

    }

  }
  #wpsl-search-wrap {
    position: relative;

    div {
      margin: 0;
    }

    form {
      @include flexbox();
      @include justify-content(center);
      @include align-items(flex-start);
      @include flex-direction();

      div {
        width: 38%;
        margin: 0 8px;
      }
    }

    .wpsl-select-wrap {
      display: none;
    }
    .wpsl-input {

      >div {
        display: none;
      }

      input {
        display: inline-block;
        width: 100% !important;
        height: 48px;
        background: transparent;
        border: 2px solid #D1D1D1;
        padding: 8px 5px;
        font-size: 16px;
        line-height: 16px;
        border-radius: 4px;
        color: #000;
        @include main-font5();
        font-weight: 400;
        font-style: normal;
        -webkit-transition: border 0.3s ease;
        transition: border 0.3s ease;
      }

    }
    #wpsl-search-btn {
      @include inline-flex();
      @include justify-content(center);
      @include align-items(center);
      @include flex-direction();
      background: #0094C1;
      border-radius: 4px;
      padding: 0 10px;
      width: 100%;
      height: 48px;
      margin: 0;
      @include main-font1();
      font-size: 16px;
      line-height: 16px;
      color: #FFFFFF;
      letter-spacing: 0;
      border: none;
      -webkit-transition: background 0.3s, color 0.3s;
      transition: background 0.3s, color 0.3s;
      text-align: center;
      text-transform: uppercase !important;
    }

  }
  .wpsl-search {
    background: transparent;
    padding: 0;
  }

}

@media (min-width: $desktop) {

  .locations {
    padding: 0 40px 14px;

    .site__title {
      display: block;
    }
    .product-categories {
      display: block;
    }
    &_stores {
      padding-top: 29px;
      padding-bottom: 675px;
    }

  }
  .locations__items {
    @include flexbox();
    @include justify-content(space-between);
    @include align-items();
    @include flex-direction();
    margin: 0 0 57px;
    padding: 0;

    >div {
      width: calc( 41.3% + 40px );
      margin: 0 -40px 0 0;

      &:first-child {
        width: 52%;
        padding-top: 28px;
        padding-left: 4px;
        margin: 0;
      }

    }
    .btn {
      position: relative;
      left: auto;
      right: auto;
      bottom: auto;
      min-width: 340px;
    }

  }
  .locations__info {
    padding: 6px 0 0;
    margin: 0;
  }
  .locations__map {
    height: 541px;
  }
  .locations__stores {
    padding-top: 0;
    position: absolute;
    bottom: 0;
    left: 31px;
    right: 31px;

    #wpsl-wrap {
      margin: 0;
      padding-right: 74%;
      padding-bottom: 0;
      height: 677px;

      #wpsl-gmap {
        position: absolute;
        left: 26%;
        right: 0;
        top: 0;
        bottom: auto;
        height: 677px !important;
        width: auto;



      }

      #wpsl-result-list {
        position: relative;
        width: 100%;
        margin: 0;

        &:after {
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          height: 110px;
          background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
          background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
          background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
          content: '';
        }

      }
      #wpsl-stores {
        height: 615px !important;
        max-height: 615px;
        overflow-y:  hidden;

        ul {

          li {

            &:after {
              opacity: 0;
              @include absoluteCenterY();
              right: 35px;
              width: 15px;
              height: 15px;
              border-top: 3px solid #54b5d2;
              border-right: 3px solid #54b5d2;
              content: '';
              -webkit-transform: translateY(-50%) rotate(45deg);
              transform: translateY(-50%) rotate(45deg);
              -webkit-transition: opacity 0.3s;
              transition: opacity 0.3s;
            }

            &:hover {

              &:after {
                opacity: 1;
              }

            }

          }
        }

      }
      .wpsl-search {
        padding-right: 15px;
      }

    }
    #wpsl-search-wrap {

      form {
        @include justify-content(flex-end);

        div {
          width: 43%;
          margin: 0 0 0 8px;

          &:first-child {
            width: 41%;
          }

        }

      }

    }

  }

}

