.site_checkout .logo {

  svg {
    display: none;
  }
}
.logo {
  @include absoluteCenterX();
  top: 12px;
  z-index: 5;
  width: 155px;
  height: 34px;
  margin-left: -16px;

  > img,
  > svg {
    display: block;
    width: 90%;
    height: auto;
  }

}
.logo-mobile {
  position: absolute;
  top: 25px;
  left: 30px;
}

@media (min-width: $desktop) {

  .site_checkout .logo {

    svg {
      display: block;
    }

    img {
      display: none;
    }
  }
  .logo {
    z-index: 7;
    top: 30px;
    left: 64px;
    width: 216px;
    height: 53px;
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);

    //.logo__mobile {
    //  display: none;
    //}
    //.logo__desktop {
    //  display: block;
    //}

  }
  .logo-mobile {
    display: none;
  }

}

