.logo {
  @include absoluteCenterX();
  top: 12px;
  z-index: 5;
  width: 155px;
  height: 34px;
  margin-left: -16px;
  -webkit-transition: top .3s ease;
  transition: top .3s ease;

  > img,
  > svg {
    display: block;
    width: 100%;
    height: auto;
  }

  .logo__desktop {
    display: none;
  }

}
.logo-mobile {
  position: absolute;
  top: 25px;
  left: 30px;
}

@media (min-width: $desktop) {

  .logo {
    z-index: 7;
    top: 30px;
    left: 64px;
    width: 216px;
    height: 53px;
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);

    .logo__mobile {
      display: none;
    }
    .logo__desktop {
      display: block;
    }

  }
  .logo-mobile {
    display: none;
  }

}

