.my-account {
  width: 100%;
  padding: 0 15px 12px;

  h3{
    position: relative;
    margin: 0 0 19px;
    padding: 0;
    @include main-font1();
    font-size: 22px;
    color: #4E4E4E;
    text-align: center;
    text-transform: uppercase;
    line-height: 33px;
  }

  legend{
    padding: 25px 0 15px;
  }

  .woocommerce-form-row, .form-row{
    @include flexbox();
    @include justify-content(space-between);
    @include align-items(center);
    @include flex-direction();
    @include flex-wrap( wrap );
    max-width: 292px;
    margin: 0 0 10px;

    input[type="submit"],
    input[type="text"],
    input[type="password"],
    input[type="email"],
    input[type="tel"],
    input[type="phone"],
    input[type="number"] {
      display: inline-block;
      width: 60.5%;
      height: 40px;
      background: transparent;
      border: 2px solid #D1D1D1;
      padding: 8px 5px;
      font-size: 16px;
      line-height: 16px;
      border-radius: 4px;
      color: #000;
      @include main-font5();
      font-weight: 400;
      font-style: normal;
      -webkit-transition: border 0.3s ease;
      transition: border 0.3s ease;

      &.not-touched,
      &.not-valid {
        border-color: red !important;
      }
      &:focus {
        border-color: #F47920;
      }

      &:-webkit-autofill,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus {
        background-color: rgba(250, 255, 189, 0);
      }

    }

    label{
      @include main-font4();
      font-size: 16px;
      width: 34%;
      text-align: left;
      line-height: 17px;
      color: #4E4E4E;

      span, abbr {
        margin-left: 4px;
        color: #F47920;
        text-decoration: none;
      }

    }

    .websters-select{
      width: 60%;
      margin: 0;
    }

    .select2-container{
      width: 100%;
      margin-bottom: 10px;
      padding-top: 10px;
      text-align: right;
    }

  }

  .woocommerce-Button, input.button{
    @include inline-flex();
    @include justify-content(center);
    @include align-items(center);
    @include flex-direction();
    min-width: 108px;
    height: 48px;
    margin-top: 53px;
    padding: 0 10px;
    background: #0094C1;
    border-radius: 4px;
    color: #FFFFFF;
    @include main-font10();
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0;
    border: none;
    transition: background 0.3s, color 0.3s;
    text-align: center;
    text-transform: uppercase;
  }

}
.my-account__links {
  padding: 16px 0 0;

  a {
    display: inline-block;
    vertical-align: top;
    margin: 0 38px 20px 0;
    padding-bottom: 8px;
    border-bottom: 2px solid transparent;
    @include main-font5();
    font-size: 16px;
    line-height: 22px;
    color: rgba(78, 78, 78, 0.81);
    -webkit-transition: border 0.3s, color 0.3s;
    transition: border 0.3s, color 0.3s;

    &.active {
      color: #0094C1;
      border-bottom-color: #0094C1;
    }
    &:hover {
      color: #0094C1;
    }

  }

}
.my-account__content {
  padding: 19px 0 0;
  @include main-font5();
  font-size: 16px;
  line-height: 22px;
  color: rgba(78, 78, 78, 0.8);
}
.my-account__overview {

  p {
    margin: 0 0 21px;

    span {
      display: block;
    }

  }

}
.my-account__edit {
  color: rgba(244, 121, 32, 0.81);
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }

}
.my-account__log-out {
  padding: 65px 0 0;
  margin: 0 -8px;

  .btn {
    width: 100%;
  }

}
.my-account__history {
  margin: 0 -35px;
  font-size: 12px;
  line-height: 18px;
}
.my-account__history-head {
  @include flexbox();
  @include justify-content();
  @include align-items();
  @include flex-direction();
  margin-bottom: 4px;
  border-bottom: 2px solid #ddd;

  >div {
    width: 22%;
    padding: 0 10px;
    padding-bottom: 8px;

    &:first-child {
    }
    &:last-child {
    }

  }

}
.my-account__history-row {
  @include flexbox();
  @include justify-content();
  @include align-items();
  @include flex-direction();

  &:nth-child(even) {
    background: rgba(216, 216, 216, 0.2);
  }

  >div {
    width: 22%;
    padding: 9px 10px;

    &:first-child {
    }
    &:last-child {
    }

  }

}
.my-account__edit-data {
  padding-top: 13px;
  padding-left: 5px;

  .form-row {

    label {
      width: 34%;
      @include main-font4();
      font-size: 16px;
      line-height: 17px;
      color: #4E4E4E;
      text-align: left;


      span {
        margin-left: 4px;
        color: #F47920;
      }
    }

  }

}
.my-account__form {

  .site__row {
    max-width: 292px;
  }
  .nice-checkbox {
    margin-top: 48px;
  }

}
.my-account__send {
  padding-top: 53px;

  .btn {
    min-width: 111px;
  }

}

@media (min-width: $phone-mini) {

  .my-account__history {
    font-size: 16px;
    line-height: 22px;
  }
  .my-account__history-head {

    >div {
      width: 25%;
      padding: 0 2px;
      padding-bottom: 8px;

      &:nth-child(2) {
        width: 23%;
      }
      &:nth-child(3) {
        width: 21%;
      }
      &:first-child {
        padding-left: 30px;
      }
      &:last-child {
        padding-right: 30px;
      }

    }

  }
  .my-account__history-row {

    >div {
      width: 25%;
      padding: 9px 2px;

      &:nth-child(2) {
        width: 23%;
      }
      &:nth-child(3) {
        width: 21%;
      }
      &:first-child {
        padding-left: 30px;
      }
      &:last-child {
        padding-right: 30px;
      }

    }

  }

}
@media (min-width: $tablet-portrait) {

  .my-account h3{
    padding: 0;
    text-align: left
  }

}
@media (min-width: $desktop) {

  .my-account {
    padding: 0 5px 70px;

    h3{
      padding: 0;
      margin: 0 0 23px;
      font-size: 24px;
      line-height: 27px;
      text-align: left;
    }

  }
  .my-account__links {
    padding: 8px 0 0;
  }
  .my-account__log-out {
    padding: 28px 0 0;
    margin: 0;

    .btn {
      width: auto;
      min-width: 112px;
    }

  }
  .my-account__history {
    margin: 0;
    max-width: 652px;
  }
  .my-account__history-head {

    >div {
      width: 26.5%;

      &:nth-child(2) {
        width: 24.3%;
      }
      &:nth-child(3) {
        width: 31.3%;
      }
      &:nth-child(4) {
        width: 18%;
      }
      &:first-child {
        padding-left: 10px;
      }
      &:last-child {
        padding-right: 10px;
      }

    }

  }
  .my-account__history-row {

    >div {
      width: 26.5%;

      &:nth-child(2) {
        width: 24.3%;
      }
      &:nth-child(3) {
        width: 31.3%;
      }
      &:nth-child(4) {
        width: 18%;
      }
      &:first-child {
        padding-left: 10px;
      }
      &:last-child {
        padding-right: 10px;
      }

    }

  }

}

