.nice-radio {
  display: block;
  vertical-align: top;
  margin: 0 0 4px;
  user-select: none;

  input[ type = radio ] {
    position: absolute;
    clip: rect(0, 0, 0, 0);

    &:checked + label {

      &:before {
        display: block;
      }

    }

    &:disabled + label {
      cursor: default;
      opacity: .5;
    }

  }
  label {
    position: relative;
    display: block;
    min-height: 20px;
    padding-left: 26px;
    cursor: pointer;
    @include main-font4();
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;

    &:after,
    &:before {
      position: absolute;
      border-radius: 50%;
      content: '';
    }

    &:after {
      top: 2px;
      left: 0;
      width: 14px;
      height: 14px;
      background: #fff;
      box-shadow: 0 2px 0 0 rgba(0,0,0,0.2) inset;
    }

    &:before {
      display: none;
      z-index: 2;
      top: 6px;
      left: 4px;
      background: #F47920;
      width: 6px;
      height: 6px;
      content: '';
    }

  }

}
.nice-radio_2 {
  overflow: hidden;

  label {
    padding-top: 1px;
    //padding-left: 32px;
    padding-left: 32px;
    @include main-font5();
    color: #4E4E4E;

    &:after {
      top: 2px;
     // left: 0;
      left: 2px;
      width: 14px;
      height: 14px;
      background: #fff;
      border: 2px solid rgba(151, 151, 151, 0.71);
      box-shadow: none;
    }

    &:before {
      top: 7px;
      left: 7px;
      //left: 5px;
      width: 8px;
      height: 8px;
    }
    
  }

}

@media (min-width: $desktop) {
  .nice-radio_2 {

    &.payment_method_usaepay label {
      line-height: 30px;

      &:after {
        top: 7px;
      }
      &:before {
        top: 12px;
      }
    }

    label {
      line-height: 48px;
      padding-left: 35px;

      &:after {
        top: 17px;
        left: 3px;
      }
      &:before {
        top: 22px;
        left: 8px;
      }
    }
  }


}