.not-found {
  padding: 15px 14px 74px;
  text-align: center;
  @include main-font5();
  font-size: 16px;
  line-height: 22px;
  color: rgba(78, 78, 78, 0.8);

  p {
    margin: 0 0 36px;
  }
  .btn {
    min-width: 192px;
  }

  .search {
    margin-bottom: 51px;

    input[type=search] {
      height: 40px;
    }
    button {
      width: 105px;
    }

  }

}
.not-found__pic {
  max-width: 356px;
  margin: 0 auto 8px;

  svg {
    width: 257px;
    height: 162px;
  }
}

@media (min-width: $desktop) {

  .not-found {
    @include flexbox();
    @include justify-content(center);
    @include align-items(center);
    @include flex-direction(column);
    max-width: 500px;
    margin: 0 auto;
    padding: 70px 14px 70px;

    .search {
      display: none;
    }
    p {
      margin: 0 0 35px;
    }
    .btn {
      height: 40px;
    }

  }
  .not-found__pic {
    max-width: 356px;
    margin: 0 auto 16px;

    svg {
      width: 342px;
      height: 180px;
    }
  }


}
@media (min-width: $desktop-hd) {

  .not-found {
    padding: 70px 14px 170px;
  }

}