.product {
  @include main-font5();
  font-size: 16px;
  color: rgba(78, 78, 78, 0.81);;
  line-height: 22px;

  p {
    margin: 0 0 26px;
  }
  .advantages {
    margin: 0 -30px;
  }

}
.product__slider {
  height: 374px;
  margin: 0 0 25px;

  .swiper-container {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  .swiper-slide {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .gallery-top {
    height: 286px;
    width: 100%;
    margin: 0 0 7px;
  }
  .gallery-thumbs {
    width: 90%;
    height: 81px;
    max-width: 400px;

    .product__slider-thumbs {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 81px;
      height: 81px;
      background-size: 82%;
      background-repeat: no-repeat;
      background-position: center;
      border: 2px solid transparent;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
    .swiper-slide {
      position: relative;
      height: 100%;
      background-size: auto 82%;


      &.is-selected
      //&-active
      {

        .product__slider-thumbs {
          border-color: rgba(244, 121, 32, 0.5);
        }

      }

    }

  }
}
.product__title {
  margin: 0 0 8px;
  @include main-font1();
  font-size: 48px;
  line-height: 50px;
  color: #4E4E4E;
}
.product__price {
  margin: 0 0 18px;
  @include main-font1();
  font-size: 30px;
  line-height: 32px;
  color: #4E4E4E;
  text-align: center;

  > div {
    display: block;
    @include main-font3();
    font-weight: 400;
    font-size: 16px;
    color: #F47920;
    line-height: 27px;
  }

}
.product__items {
  margin: 0 0 30px;
}
.product__add {
  max-width: 303px;
  margin: 0 auto 43px;
  text-align: center;

  .btn {
    margin-top: 9px;
    width: 100%;
    height: 63px;
    font-size: 20px;
    line-height: 20px;

    &.disabled {
      opacity: 0.6;
      pointer-events: none;
      cursor: default;
    }

  }

}
.product__add-title {
  margin: 0 0 17px;
  @include main-font6();
  font-size: 16px;
  line-height: 18px;
  color: #4E4E4E;
}
.product__description {
  margin: 0 0 25px;

  p {
    margin-bottom: 18px;
  }

}
.product__download {
  display: none;
}
.product__specification {
  position: relative;
  margin: 0 0 35px;
  padding-top: 4px;
  @include main-font4();
  font-size: 16px;
  line-height: 18px;
  color: #4E4E4E;

  dl {
    position: relative;
    @include flexbox();
    @include justify-content();
    @include align-items();
    @include flex-direction();
    @include flex-wrap(wrap);
    padding: 6px 0;

    &:nth-child(even) {

      &:after {
        background: #fff;
      }

    }
    &:after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #EEEEEE;
      content: '';
    }

    dt {
      position: relative;
      z-index: 1;
      width: 66.5%;
      padding-right: 10px;
      padding-left: 11px;
    }
    dd {
      position: relative;
      z-index: 1;
      width: 33%;
    }

  }
}
.product__pic {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;

  img {
    display: block;
    width: 100%;
    height: auto;
  }

}

@media (min-width: $desktop) {

  .product {
    .site__inner {
      width: 72.5%;
    }
    .site__aside {
      width: 24.3%;
      padding-top: 47px;
    }
    .advantages {
      margin: 0;
    }
    p {
      margin: 0 0 13px;
    }

  }
  .product__slider {
    position: absolute;
    top: 15px;
    left: 0;
    width: 37%;
    height: 522px;

    .gallery-top {
      height: 423px;
      margin: 0 0 11px;
    }
    .gallery-thumbs {
      width: 100%;
      height: 120px;
      max-width: 100%;

      .product__slider-thumbs {
        width: 120px;
        height: 120px;
      }

    }

  }
  .product__title {

  }
  .product__price {
    margin: 0 0 22px;
    text-align: left;
  }
  .product__inner {
    position: relative;
    padding-left: 40.3%;
    margin: 0 0 74px;
    min-height: 568px;
  }
  .product__add {
    max-width: 305px;
    margin: 0;
    text-align: left;

    .websters-select {
      max-width: 264px;
    }

  }
  .product__items {
    @include flexbox();
    @include justify-content();
    @include align-items();
    @include flex-direction();
    margin: 0;

    >div {
      width: 52%;
      padding-left: 15px;

      &:first-child {
        width: 43%;
        padding-left: 0;
      }

    }

    &.product__items_non-customize {
      display: block;

      >div {
        width: 72%;
        padding-left: 0;

        &:first-child {
          display: block;
          width: 100%;
        }

      }

      .advantages {
        padding: 33px 0 0;
      }
      .advantages__list {
        @include flexbox();
        @include justify-content();
        @include align-items(center);
        @include flex-direction();

        >li {
          margin: 0 0 25px;

          &:nth-child( 3n + 1 ) {
            width: 33%;
          }
          &:nth-child( 3n + 2 ) {
            width: 39%;
          }
          &:nth-child( 3n + 3 ) {
            width: 28%;
          }

          img {
            width: 30px;
            height: 30px;
          }

        }

      }

      .product__add {

        .btn {
          margin-top: 6px;
        }

      }

    }

  }
  .product__wrap {
    padding: 0 29px 0 7px;
  }
  .product__description {
    margin: 0;

    p {
      margin: 0 0 34px;
    }

  }
  .product__description_pic {
    @include flexbox();
    @include justify-content(space-between);
    @include align-items();
    @include flex-direction();

    >div {
      width: 28%;
      padding-top: 11px;
      text-align: right;

      &:first-child {
        width: 68%;
        padding-top: 0;
        text-align: left;
      }

    }

  }
  .product__download {
    display: block;
    margin-top: 10px;
    margin-bottom: 34px;

    a {
      @include main-font9();
      font-size: 16px;
      line-height: 16px;
      color: #4E4E4E;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }

    }

  }
  .product__pic {
    display: inline-block;
    vertical-align: top;
    max-width: 304px;
  }
  .product__specification {
    margin: 0 0 54px;
    line-height: 30px;

    dl {
      padding: 0;

      dt {
        width: 35.2%;
        padding-right: 20px;
        padding-left: 22px;
      }
      dd {
        width: 55%;
      }

    }
  }

}

