.search {
  opacity: 0;
  visibility: hidden;
  display: block;
  position: absolute;
  z-index: 2;
  top: 79px;
  left: 33px;
  right: 33px;
  padding-right: 69px;
  -webkit-transition: opacity 0.3s, visibility .3s ease;
  transition: opacity 0.3s, visibility .3s ease;

  input[type=search] {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    height: 44px;
    border: none;
    padding: 13px 110px 13px 10px;
    background: #fff;
    box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.23);
    border-radius: 2px;
    @include main-font4();
    font-size: 16px;
    color: #1C1C1C;
    -webkit-appearance: none;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
  }

  button {
    position: absolute;
    top: 0;
    right: 69px;
    bottom: 0;
    width: 94px;
    background: #F47920;
    border: none;
    border-radius: 0 2px 2px 0;
    @include main-font1();
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;


    &:hover {
      background: rgb(234, 84, 56);
    }

  }

  &.active {
    opacity: 1;
    visibility: visible;
  }

}
.search__result {
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  @include flexbox();
  @include justify-content(space-between);
  @include align-items();
  @include flex-direction();
  position: absolute;
  top: 48px;
  left: 0;
  width: 780px;
  background: #FFFFFF;
  border: 1px solid #E8E8E8;
  box-shadow: 4px 4px 2px 0 rgba(2,2,0,0.15);
  border-radius: 4px;

  >div {
    width: 61.6%;

    &:first-child {
      width: 38.4%;
    }

  }

  &.visible {
    opacity: 1;
    visibility: visible;
  }

}
.search__found {
  padding-top: 13px;
  @include main-font4();
  font-size: 16px;
  line-height: 18px;
  color: #444444;

  li {
    a {
      display: block;
      padding: 10px 23px;
      color: #444444;

      &:hover {
        background: #EEEEEE;
      }

    }

    &.active {

      a {
        background: #EEEEEE;
      }

    }

    &.search__found-sub {

      a {
        padding: 10px 15px 10px 38px;
      }

    }

  }

}
.search__cancel {
  position: absolute;
  top: 12px;
  right: 0;
  @include main-font1();
  font-size: 16px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.71);
}
.search-btn {
  position: absolute;
  top: 35px;
  right: 26%;
  @include main-font1();
  font-size: 16px;
  color: rgba(255, 255, 255, 0.71);
  letter-spacing: 0;
  -webkit-transition: color 0.3s, top .3s ease;
  transition: color 0.3s, top .3s ease;

  svg {
    margin: 0 4px 0 0;
  }

  &:hover {
    color: rgba(255, 255, 255, 1);
  }

}

@media (min-width: $desktop) {

  .search {
    opacity: 1;
    visibility: visible;
    top: 29px;
    left: 279px;
    right: 450px;
    padding-right: 0;

    input[type=search] {
      height: 48px;
    }
    button {
      right: 0;
      width: 100px;
    }

  }
  .search-btn,
  .search__cancel {
    display: none;
  }

}
@media (min-width: $desktop-hd) {

  .search {
    left: 259px;
    right: 539px;

    input[type=search] {
      padding: 13px 145px 13px 10px;
    }
    button {
      width: 131px;
    }

  }

}

